{{ with .Site.Params.social.facebook }}
<a href="https://facebook.com/{{ . }}">
    <i class="fa fa-facebook" alt="@{{ . }} on Facebook" title="See us at @{{ . }} on Facebook" aria-hidden="true"></i>
</a>
{{ end }}
{{ if (isset .Site.Params.social "facebook") and (isset (.Site.Params.social "twitter" or .Site.Params.social "instagram" or .Site.Params.social "youtube" or .Site.Params.social "community")) }}
&nbsp;
{{ end }}
{{ with .Site.Params.social.twitter }}
<a href="https://twitter.com/{{ . }}">
    <i class="fa fa-twitter" alt="Follow @{{ . }} on Twitter" title="Follow @um_fencing on Twitter" aria-hidden="true"></i>
</a>
{{ end }}
{{ if (isset .Site.Params.social "twitter") and (isset (.Site.Params.social "instagram" or .Site.Params.social "youtube" or .Site.Params.social "community")) }}
&nbsp;
{{ end }}
{{ with .Site.Params.social.instagram }}
<a href="https://instagram.com/{{ . }}">
    <i class="fa fa-instagram" alt="See our latest pictures on Instagram at @{{ . }}" title="See our latest pictures on Instagram at @{{ . }}" aria-hidden="true"></i>
</a>
{{ end }}
{{ if (isset .Site.Params.social "instagram") and (isset (.Site.Params.social "youtube" or .Site.Params.social "community")) }}
&nbsp;
{{ end }}
{{ with .Site.Params.social.youtube }}
<a href="https://youtube.com/channel/{{ . }}">
    <i class="fa fa-youtube" alt="Watch bouts and more on YouTube" title="Watch bouts and more on YouTube" aria-hidden="true"></i>
</a>
{{ end }}
{{ if (isset .Site.Params.social "youtube") and (isset (.Site.Params.social "community")) }}
&nbsp;
{{ end }}
{{ with .Site.Params.social.community }}
<a href="{{ . }}">
    <i class="fa fa-users" alt="Connect with us on our community page" title="Connect with us on our community page" aria-hidden="true"></i>
</a>
{{ end }}
